<!-- Footer -->
<footer id="footer">
	<a href="#" class="info fa fa-info-circle"><span>About</span></a>
	<div class="inner">
		<div class="content">
			<h3>Vestibulum hendrerit tortor id gravida</h3>
			<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
		</div>
		<div class="copyright">
			<h3>Follow me</h3>
			<ul class="icons">
				{% if site.social_links.twitter_url and site.social_links.twitter_url != "TWITTER_URL" %}
					<li><a href="{{ site.social_links.twitter_url }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.social_links.facebook_url and site.social_links.facebook_url != "FACEBOOK_URL" %}
					<li><a href="{{ site.social_links.facebook_url }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.social_links.instagram_url and site.social_links.instagram_url != "INSTAGRAM_URL" %}
					<li><a href="{{ site.social_links.instagram_url }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.social_links.dribble_url and site.social_links.dribble_url != "DRIBBLE_URL" %}					
				<li><a href="{{ site.social_links.dribble_url }}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				{% endif %}
			</ul>
			&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a> Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a>.
		</div>
	</div>
</footer>
