<!-- Header -->
	<header id="header" {% if page.path != 'index.html' %} class="preview" {% endif %}>
		<div class="inner">
			<div class="content">
				<h1>Radius</h1>
				<h2>A fully responsive masonry-style<br />
				portfolio template.</h2>
				<a href="#" class="button big alt"><span>Let's Go</span></a>
			</div>
			<a href="{{ site.baseurl }}/" class="button hidden"><span>Let's Go</span></a>
		</div>
	</header>
