<!-- Main -->
<div id="main">
	<div class="inner">
		<div class="columns">
		{% for post in site.posts limit:16 %}
			<div class="image fit">
				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{site.baseurl}}/{{ post.image }}"></a>
			</div>
		{% endfor %}
		</div>
	</div>
</div>