---
layout: default
---

<!-- Main -->
<div id="preview" {% if page.style == 'vertical' %} class="vertical" {% endif %}> 
	<div class="inner">
		<div class="image fit">
			<img src="{{site.baseurl}}/{{ page.image }}" alt="" />
		</div>
		<div class="content">
			<header>
				<h2>{{ page.title }}</h2>
			</header>
			{{ page.content }}
		</div>
	</div>
	{% if page.previous %}<a href="{{ site.baseurl }}{{ page.previous.url }}" class="nav previous"><span class="fa fa-chevron-left"></span></a>	{% endif %}
	{% if page.next %}<a href="{{ site.baseurl }}{{ page.next.url }}" class="nav next"><span class="fa fa-chevron-right"></span></a>{% endif %}
</div>